.banner
    min-height: 410px
    background: white
    border-bottom: 1px solid #c9c9c9
    padding-top: 75px
    &__content
        padding: 30px 0px 50px 
        max-width: 970px
        width: 100%
        // padding-top: 92px
    &__header
        padding-bottom: 25px
        font-size: 37px
        font-weight: 600
        letter-spacing: 2.1px
        // color: #ffffff
        line-height: normal
    &__select
        width: 25%
        height: 58px
        outline: none
        border: 1px solid $orange
        border-right: none
        outline: none
        color: #9baebc
        padding-left: 35px
        padding-right: 10px
        background-color: #fff
        background-position: center left 8px
        background-repeat: no-repeat
        background-size: 25px
        appearance: none
        &:nth-child(1)
            background-image: url('images/search.png')
        &:nth-child(2)
            background-image: url('images/language.png')
        &:nth-child(3)
            background-image: url('images/maps.png')

    &__button
        width: 25%
        height: 58px
        outline: none
        border: 1px solid $orange
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px
        color: white 
        background: $orange
        &:hover 
            background: #c15c15
            border-color: #c15c15
    &__form
        width: 100%
        display: flex


// @media (min-width: 1200px)

@media (max-width: 1199px)
    .banner
        &__content
            max-width: none

@media (max-width: 991px)
    .banner
        &__select
            width: 100%
            border: none
        &__button
            width: 100%
            border-top-right-radius: 0
            border-bottom-right-radius: 0
        &__form
            flex-direction: column
        &__content
            max-width: 400px
        

// @media (max-width: 767px)

@media (max-width: 575px)
    .banner
        &__header
            font-size: 34px

@media (max-width: 359px)
    .banner
        padding-top: 70px
        &__header
            font-size: 31.5px
